<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216558571275-klr13e8oia2p31fhv4rmnp8kdqgsvatu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216558571275-klr13e8oia2p31fhv4rmnp8kdqgsvatu</string>
	<key>API_KEY</key>
	<string>AIzaSyArIiv7i84fzLSzLvfsMEqo0p0rkXvGoNk</string>
	<key>GCM_SENDER_ID</key>
	<string>216558571275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rizziconsultong.rms</string>
	<key>PROJECT_ID</key>
	<string>rizziconsultingrms</string>
	<key>STORAGE_BUCKET</key>
	<string>rizziconsultingrms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216558571275:ios:ba20bcf73d884de69d9c0e</string>
</dict>
</plist>